<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email comlete</title>
</head>
<body>
    <h2>Email Sending Complete</h2>
    <h3>This is information your emails sending</h3>
    <table>
        <tr>
            <td>Title</td>
            <td>Content</td>
            <td>Email</td>
            <td>CC</td>
        </tr>
        <tr>
            <td>{{ email.tt }}</td>
            <td>{{ email.ct }}</td>
            <td>{{ email.em }}</td>
            <td>{{ email.cc }}</td>
        </tr>

    </table>
</body>
</html>